@charset "UTF-8";
@import url(./style.css);

h1 {
    color: white;
}

li {
    text-align: left;
}

dd {
    margin: 20px auto;
    width: 90%;
    position: relative;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #FAFAFA;
}

.head {
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: #2ABCA7;
    color: #FAFAFA;
    margin: 0 auto;
}

h2 {
    text-align: center;
    padding: 18px 0 18px 0;
    font-size: 1.4em;
}

input {
    margin-bottom: 10px;
}

textarea {
    height: 100px;
    margin-bottom: 10px;
    max-width: 100%;
}

.loopSlide {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
}

.loopSlide ul {
    padding: 0;
    width: 100vw;
    display: flex;
    flex-shrink: 0;

}

.loopSlide1 ul:first-child {
    animation: slide1 40s -20s linear infinite;
}

.loopSlide1 ul:last-child {
    animation: slide2 40s linear infinite;
}

.loopSlide2 ul:first-child {
    animation: slide3 40s -20s linear infinite;
}

.loopSlide2 ul:last-child {
    animation: slide4 40s linear infinite;
}

.loopSlide ul li {
    display: inline-block;
    width: 100%;
    min-width: 150px;
    margin-right: 20px;
    list-style: none;
    text-align: center;
}

.loopSlide2 ul li {
    transform: scale(-1, 1);
}

.loopSlide ul li img {
    display: block;
    width: 60px;
    height: 60px;
}

.loopSlide:hover ul {
    animation-play-state: paused;
}

@keyframes slide1 {
    0% {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide2 {
    0% {
        transform: translateX(0);
    }

    to {
        transform: translateX(-200%);
    }
}

@keyframes slide3 {
    0% {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(100%);
    }
}

@keyframes slide4 {
    0% {
        transform: translateX(-200%);
    }

    to {
        transform: translateX(0);
    }
}

input,
textarea {
    font-size: 1.5rem;
    font-family: charcuterie-contrast, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-size: 1.1em;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background: #d7d7d7;
    color: #575757;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    position: relative;
}

::-webkit-input-placeholder {
    color: #575757FA;
}

:-moz-placeholder {
    color: #575757;
}

::-moz-placeholder {
    color: #575757;
}

:-ms-input-placeholder {
    color: #575757;
}

button {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #2ABCA7;
    padding: 0px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    cursor: pointer;
    display: inline-block;
    width: 90%;
    height: 3em;
    color: #fff;
    font-size: 2.5rem;
}

button:hover,
.button:hover {
    background: #19a08c;
}

label.error {
    font-family: 'Source Sans Pro', arial, sans-serif;
    font-size: 1em;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d89c9c;
    width: 80%;
    margin: auto;
    color: #FAFAFA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.p1 {
    width: 100px;
    text-align: right;
    font-family: bokutachi;
}

.p2 {
    width: 80%;
    text-align: left;
    font-family: bokutachi;
}

.space1 {
    margin: 10px 5px;
    border: 3px solid rgba(80, 80, 80, 0.5);
    border-radius: 10px;
    justify-content: space-evenly;
}

.center a {
    display: inline-block;
    color: white;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #2ABCA7;
    padding: 0px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #2ABCA7;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width: 30%;
    text-decoration: none;
}

ol {
    list-style: none;
}

/* media queries */
@media screen and (max-width:899px) {
    label.error {
        width: 90%;
    }

    input,
    textarea {
        width: 90%;
    }

    button {
        width: 90%;
    }

    body {
        padding-top: 10px;
    }
}


.message {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2ABCA7;
    width: 80%;
    margin: auto;
    color: #FAFAFA;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.error-text {
    position: absolute;
    top: 0;
    left: 10%;
    padding: 3px 3px 2px;
    background-color: #f66;
    border-radius: 5px;
    font-size: 1.4rem;
    color: #fff;
    transform: translateY(-2.7em);
    transition: all 1s;
    opacity: 0;
}

.error.active {
    opacity: 1;
}

.error-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 15px;
    border: 7px solid transparent;
    border-top-color: #f66;
    margin-left: 1px;
}

@media screen and (max-width:599px) {
    .container {
        width: 100%;
    }

    .header-nav h1 {
        color: #54484B;
    }
}