@charset "UTF-8";
@import url("./reset.css");
@import url("./animation.css");

/* 汎用 */
.h1-1 {
  color: rgb(241, 243, 248);
  background-color: #716fb7;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.h1-2 {
  color: rgb(241, 243, 248);
  background-color: rgb(102, 186, 239);
  border-radius: 10px;
  margin-bottom: 10px;
}

.h1-3 {
  color: rgb(241, 243, 248);
  background-color: #f8b1c9;
  border-radius: 10px;
  margin-bottom: 10px;
}

.h1-4 {
  color: rgb(241, 243, 248);
  background-color: #B34658;
  border-radius: 10px;
  margin-bottom: 10px;
}

.h1-5 {
  color: rgb(241, 243, 248);
  background-color: #FFFA96;
  border-radius: 10px;
  margin-bottom: 10px;
}

.h1-6 {
  color: rgb(241, 243, 248);
  background-color: #FF7E94;
  border-radius: 10px;
  margin-bottom: 10px;
}

.h1-7 {
  color: rgb(241, 243, 248);
  background-color: #63D1FF;
  border-radius: 10px;
  margin-bottom: 10px;
}

.h1-8 {
  color: rgb(241, 243, 248);
  background-color: #4F95B3;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sp {
  display: none;
}

.textLeft {
  text-align: left;
}

.textCenter {
  text-align: center;
}

.boxCenter {
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.left {
  text-align: left;
}

.rem2 {
  font-size: 2rem;
}

.block {
  display: block;
}

.margin-bottom5 {
  margin-bottom: 5px;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top80 {
  margin-top: 80px;
}

.margin-left10 {
  margin-left: 10px;
}

.margin-bottom30 {
  margin-bottom: 30px;
}

.width50 {
  width: 50%;
  margin: 0 auto;
}

.width80 {
  width: 80%;
  margin: 0 auto;
}

.width100 {
  width: 100%;
}

.padding-left10 {
  padding-left: 10px;
}

.border-line {
  position: relative;
  z-index: 10;
  border-radius: 10px;
  background: white;
  width: 80%;
  margin: 80px auto 0;
}

#about {
  position: relative;
}

.position {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.justify-center {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  z-index: 10001;
  top: 50%;
}

/* ヘッダー */
header {
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  background: url(../images/header.jpg);
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 140px;
  height: 70px;
  margin-left: 20px;
  display: inline-block;
  border-radius: 5px;
}

.a-deco {
  text-decoration: none;
}

header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 50px;
}

header li {
  margin-right: 40px;
}

.header-menu {
  font-size: 4rem;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  letter-spacing: 0.1em;
  font-family: charcuterie-contrast, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: bold;
  color: #3A3A3A;
  text-decoration: none;
}

.header-a,
details summary {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: charcuterie-contrast, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  color: #3A3A3A;
  text-decoration: none;
}

.header-menu:hover,
.header-a:hover {
  animation-name: colorChangeAnime;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

li:nth-last-child(1) {
  margin-right: 50px;
}

ul.header-dropmenu>li {
  position: relative;
}

ul.header-dropmenu li a {
  display: block;
}

ul.header-dropmenu li ul {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  width: 20vw;
  height: auto;
  list-style: none;
  position: absolute;
  top: 100%;
  left: -50%;
  margin: 0;
  padding: 0;
}

ul.header-dropmenu li:hover ul {
  visibility: visible;
  background: #97a7fe;
  text-align: left;
  padding-left: 50px;
  border-radius: 10px;
  box-shadow: 0 6px 3px -3px rgba(0, 0, 0, 0.1);
}


ul.header-dropmenu li ul li {
  /* transition: all .2s ease; */
}

details {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

details[open] p {
  /* animation: grow 0.8s ease-in-out; */
}

details[open] summary:after {
  transform: rotate(945deg);
}

details summary::-webkit-details-marker {
  display: none;
}

details summary {
  font-size: 3rem;
  position: relative;
  list-style: none;
  text-decoration: none;
}

/* フッター */
footer {
  position: relative;
  top: 0px;
  font-family: 'Courier New', Courier, monospace;
}

/* 本文 */

body {
  font-size: 1.6rem;
  line-height: 2.1;
  color: #1c1f20;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/haikei.jpg);
  background-size: cover;

}

main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 80px auto;
  top: 0;
  left: 0;
  z-index: 10;
}

label {
  cursor: pointer;
  font-size: 2rem;
}

section {
  margin: 0 auto 20px;
  width: 80%;
}

.contents-blk {
  /* border: 0.5px solid rgba(121, 126, 129, 0.5); */
  padding: 10px 0;
}

.contents-blk p {
  font-size: 2rem;
  height: 39px;
  line-height: 39px;
  display: inline-block;
}

.contents {
  margin-top: 0px;
}

@media screen and (max-width:899px) {
  .logo-text {
    font-size: 3rem;
  }

  .header-menu {
    font-size: 3rem;
  }

  label {
    font-size: 1.5rem;
  }

  .contents-blk p {
    font-size: 1.5rem;
  }
}


/* スマホ用 幅320pxで表示崩れがないようにすること*/
@media screen and (max-width:599px) {
  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  body::before {
    background-size: contain;

  }

  /* 三本線 */
  #nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer;
    z-index: 1000;
  }

  #nav-toggle>div {
    position: relative;
    width: 36px;
  }

  #nav-toggle>div span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #000;
    position: absolute;
    transition: transform .3s ease, top .5s ease;
  }

  #nav-toggle>div span:nth-child(1) {
    top: 0;
  }

  #nav-toggle>div span:nth-child(2) {
    top: 10px;
  }

  #nav-toggle>div span:nth-child(3) {
    top: 20px;
  }

  .open #nav-toggle>div span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }

  .open #nav-toggle>div span:nth-child(2) {
    width: 0;
  }

  .open #nav-toggle>div span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
  }

  header ul {
    height: auto;
  }

  #page-header .header-nav {
    background: url(../images/header.jpg);
    color: #fff;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 990;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 100px;
    transform: translateX(-100%);
    transition: transform 1s ease;
  }

  .open #page-header .header-nav {
    transform: translateX(0) !important;
  }

  #page-header .header-nav h1 {
    display: block;
    position: relative;
    top: 80px;
    text-align: left;
    font-size: 4rem;
  }

  #page-header .header-nav ul {
    display: block;
    position: relative;
    top: 80px;
  }

  #page-header .header-nav li {
    position: relative;
    margin: 0 !important;
    text-align: left;
    transition: transform 1.3s ease;
  }

  #page-header .header-nav li:hover {
    animation-name: colorChangeAnime;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  #page-header .header-nav li a {
    display: inline-block;
    color: #3A3A3A;
    text-decoration: none;
    padding: 10px 0;
    /* font-size: 2.8rem; */
  }

  #page-header .header-nav ul>li:nth-child(2) {
    transition-delay: .15s;
  }

  #page-header .header-nav ul>li:nth-child(3) {
    transition-delay: .3s;
  }

  #page-header .header-nav ul>li:nth-child(4) {
    transition-delay: .6s;
  }

  nav li {
    padding-left: 10px;
  }

  /* 通常 */
  body {
    font-size: 1.2rem;
  }

  .logo-text {
    font-size: 3rem;
  }

  .header-menu {
    display: none;
  }

  section {
    width: 95%;
  }

  h1 {
    font-size: 2rem;
  }

  .skillsetbox select {
    width: 20em;
  }

  .border-line {
    width: 95%;
    margin: 30px auto 0;
  }


}