@charset "UTF-8";
@import url(./style.css);

div.width50 {
    flex-direction: column;
}

h1 {
    width: 80%;
    margin: 0 auto;
}

h2 {
    width: 80%;
    margin: 10px auto;
}

dl {
    display: flex;
    flex-direction: row;
    padding: 0 20px;
}

dl:nth-child(1) {
    background-color: #8DABFC;
    /* background-color: #F7B0C8; */
    color: white;
}

dl:nth-child(even) {
    background-color: #F7F4C8
}

dt,
dd {
    width: 25vw;
    text-align: right;
}

dt:first-child {
    width: 35vw;
}

dd:last-child {
    width: 20vw;
}

div.border-line>div.flex {
    display: flex;
    flex-direction: row;
}

div div.flex {
    display: none;
}

.h1-0 {
    background-color: #f58462;
    color: #86613D;
    margin-top: 0;
    border-radius: 10px;
    margin-bottom: 10px;
    /* background-color: #8DABFC; */
}

.h1-1 {
    background-color: #f69679;
    color: #86613D;
    margin-top: 0;
    /* background-color: #8DABFC; */
}

.h1-2 {
    background-color: #f9a980;
    color: #86613D;
    /* background-color: #7EB3E0; */
}

.h1-3 {
    background-color: #fecf8d;
    color: #86613D;
    /* background-color: #97E3F7; */
}

.h1-4 {
    background-color: #fabea7;
    color: #86613D;
    /* background-color: #7EE0DA; */
}

.h1-5 {
    background-color: #fcc9ac;
    color: #86613D;
    /* background-color: #8DFCD5; */
}

input {
    text-align: right;
    width: 5vw;
    font-family: 'bokutachi';
}

.no-border {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
    width: 20vw;
}

dd.total {
    width: 40vw;
}

.text-mat {
    position: relative;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    width: 60%;
    margin: 80px auto 0 10px;
    padding: 20px 0;
}

.right-mat {
    position: fixed;
    right: 10px;
    top: 160px;
    background-color: white;
    border-radius: 10px;
    height: 50%;
    width: 30%;
    padding-bottom: 20px;
    vertical-align: top;
    padding: 20px 0;
}

.right-mat dt,
.right-mat dd {
    text-align: right;
}

.right-mat dt:first-child {
    width: 40%;
}

.right-mat dd:last-child {
    width: 60%;
}

#mylist {
    display: none;
}

.mylist-off {
    display: block;
}

@media screen and (max-width:1199px) {

    .flex {
        display: block;
    }

    .text-mat {
        height: 100%;
        width: 95%;
        margin: 40px auto;
    }

    .right-mat {
        position: inherit;
        height: 100%;
        width: 95%;
        margin: 0 auto;
    }
}

/* トグルボタン */
.toggle-button-cover {
    /* display: table-cell; */
    position: absolute;
    top: 50%;
    right: 30%;
    /* width: 200px;
    height: 140px; */
    box-sizing: border-box;
}

.button-cover {
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 3px 0 #e7efef;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.button.b2 {
    border-radius: 2px;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

.relative {
    position: relative;
}

/* Button 3 */
#button-3 .knobs:before {
    content: 'OFF';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 9px 4px;
    background-color: #F44336;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-3 .checkbox:active+.knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active+.knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked+.knobs:before {
    content: 'ON';
    left: 42px;
    background-color: #06ff1b;
    ;
}

#button-3 .checkbox:checked~.layer {
    background-color: #fcebeb;
}

@media screen and (max-width:599px) {
    .no-border {
        width: 25vw;
        font-size: 1.2rem;
    }

    h1 {
        width: 95%;
        margin: 0 auto;
    }

    h2 {
        width: 95%;
        margin: 10px auto;
    }

    .right-mat h2 {
        margin: 0 auto 10px;
    }
}